
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.open-sans-font-family {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

    
 .nav-context nav{ display: flex;
     justify-content: space-between; 
     padding: 12px 16px 12px 16px;
     }
  .logo{ padding-left: 120px;
     padding-top: 16px; 
    } 
  .list{ display: flex;
     gap: 32px; 
     align-items: center; 
    }
   .list a{ font-size: 16px;
     text-decoration: none;
      color: black;
     } 
   .btn{ 
     background-color: #30B868; 
     color: white; 
    padding: 12px 16px 12px 16px;
      width: 251px;
    height: 52px;  
      border: none; 
      
       
}
.hero {
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover; 
    width: 100%;
    max-width: 1600px;
    height: 674px;
    margin: 0 auto;
    display: flex;
    align-items: center;      
    justify-content: center; 
    
}
.hero-box{
   
    position: relative;
    text-align: center;
    max-width: 900px;
    padding: 0 20px;
    color: #fff;
      z-index: 2;


}


.btn2{
    border-radius: 1000px;
    
    background-color: #FFFFFF;
    color: #30B868;
    padding: 8px 12px;
    width: 229px;
    height: 35px;
    border: none;
    margin-bottom: 24px;
}



.hero-box h1{
    font-size: 72px;
   max-width: 770px;
margin-left: auto;
margin-right: auto;

}


.hero .hero-box h2{
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    

}



.hero-text-colour{
    color: #30B868;
}
.hero-text-colour2{
    color: #FFFFFF;
}
.btn3{
    padding: 12px 16px 12px 16px;
    background: none;
    color: #fff;
}


.problems h2{
    font-size: 45px;
  text-align: center;
  padding-bottom:16px ;
   
}
.problems h4{
    font-size: 16px;
    color: #627382;
    text-align: center;
}
.problem-cards{
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 60px 120px;
}
.card{
    border-radius: 8px;
box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
background: rgba(255, 255, 255, 1);
width: 322px;
height: 300px;
}
.card h3{
    text-align: center;
    font-size: 24px
}
.card p{
    text-align: center;
    font-size: 16px; 
}
.card img {
    display: block;
    margin: 0 auto 16px;      
    width: 27px;               
    height: 29px;             
    padding: 8px;              
    background-color: rgb(241, 88, 88);
    border-radius: 20px;       
    box-sizing: content-box;  
}
  
 
.sallution{
    display: flex;
   
}
.sallution-contant h5{
    font-size: 16px;
    color: #30B868;
    text-align: left;
}
.sallution-contant h1{
    color: #001931;
    font-size: 48px;
}
.sallution-contant p{
    font-size: 16px;
    color: #627382;
    text-align: center;
    padding: 16px;

}
.sallution-contant h2{
    padding: 16px;
}

 .sallution-immage img{
    width: 600px;
height: 600px;
 }
 .think{
    text-align: center;
 } 
 .think h1{
    font-size: 40px;
    padding: 16px;
 }  
 .think p{
font-size: 16px;
color: #627382;
padding: 16px;
 }
 .footer {
    width: 100%;
    height: 348px;
    background-color: #001931;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 120px 120px 120px 80px;
}

.footer-content img {
    width: 139px;
    height: 60px;
    
}

.social-link {
    margin-top: 30px;
    color: white;
}

.social-link-context {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.social-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-logo img {
    width: 24px;
    height: 24px;
}

      .social-logo{
        display: flex;
        flex-direction: column;
      } 
      .last{
        text-align: center;
      }

.footer{
    position: relative;
}

.last{
    position: absolute;
    bottom: 30px;
    top: 268px;         
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 14px;
    text-align: center;
}
.btn3 img{
    width: 20px;
height: 20px;

}  

